include LICENSE
include *.in
include *.md
recursive-include pygeodesic *.pyd
recursive-include pygeodesic *.pyx
recursive-include pygeodesic *.h
recursive-include pygeodesic *.cpp
recursive-include pygeodesic\examples *.*
